@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #ffffff;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #35297F
  --primary-foreground: #ffffff;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: #000000;
  --muted: oklch(0.97 0 0);
  --muted-foreground: #000000;
  --accent: oklch(0.15 0 0);
  --accent-foreground: #000000;
  --destructive: oklch(0.65 0.23 27);
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #ffffff;
  background-color: #000000;
}

.bg-primary {
  background-color: #35297F;
}
.text-primary {
  color: #35297F;
}